{% extends "_base_page.twig" %}
{% block header %}
{% endblock %}
{% block content %}
<div class="wrapper {{sidebar_class}}" id="_pg_stations">
    <!-- Aide à la navigation -->
    <div class="content-wrapper _bg_white">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb _bredcrumb_custo">
                    <li class="breadcrumb-item"><a class="a-navig" href="{{ site.url }}">Accueil</a></li>
                    {% if post.parent.parent.title %}
                        <li class="breadcrumb-item"><a class="a-navig" href="{{ post.parent.parent.link }}">{{post.parent.parent.title}}</a></li>
                    {% endif %}
                    {% if post.parent.title %}
                        <li class="breadcrumb-item"><a class="a-navig" href="{{post.parent.link}}">{{post.parent.title}}</a></li>
                    {% endif %}
                    <li class="breadcrumb-item active"><strong>{{post.title}}</strong></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Aide à la navigation -->

    <div class="content-wrapper _bg_white  pb-5">
        <div class="container">
            {% set nos_appel_doffres = post.get_field('nos_appel_doffres') %}
            {% if nos_appel_doffres is not empty %}
                <article class="post-type-{{post.post_type}} _pd_bt_25" id="post-{{post.ID}}">
                    <section class="_article_content">
                        {% if nos_appel_doffres.titre %}
                            <h2 class="text-uppercase  services-h2">
                                {{nos_appel_doffres.titre}}
                            </h2>
                        {% endif %}
                        <div class="_article_body">
                            {{nos_appel_doffres.description}}
                        </div>
                    </section>
                </article>
            {% endif %}
            {% set adresse_map_1 = post.get_field('adresse_map_1') %}
            {% set adresse_map_2 = post.get_field('adresse_map_2') %}
            <article class="post-type-{{post.post_type}} row" id="post-{{post.ID}}">
                <section class="_article_content col-md-12">
                {% if adresse_map_1.latitude and adresse_map_1.longitude %}
                        <div class="row">
                            <div class="col-md-5">
                                <input type="hidden" name="latMon" id="latMon" value="{{adresse_map_1.latitude}}">
                                <input type="hidden" name="lonMon" id="lonMon" value="{{adresse_map_1.longitude}}">
                                <div id="mapidv1"  style="width:100%;z-index:10;"></div>
                            </div>
                            <div class="col-md-7">
                                <h5 class="t_promos"><b>{{adresse_map_1.station}}</b></h5>
                                <p>
                                    <img src="{{ site.theme.link }}/images/_icons/localization.svg" style="width:14px;">
                                    <span class="ccm-p">{{adresse_map_1.adresse}}</span><br>
                                    <span style="padding-left: 18px;" class="ccm-p">{{adresse_map_1.code_postal}}</span>
                                </p>
                                {{adresse_map_1.texte|raw}}
                                {# {% set voir_offre = nos_appel_doffres.voir_loffre_monpellier %}
                                <a href="{% if voir_offre.url %}{{voir_offre.url}}{% else %}#{% endif %}">
                                    <button class="btn btn-secondary btn-first">
                                        Voir l'offre
                                    </button>
                                </a> #}
                            </div>
                        </div>
                    {% endif %}
                    {% if adresse_map_2.latitude and adresse_map_2.longitude %}
                        <div class="row mt-5">
                            <div class="col-md-5">
                                <input type="hidden" name="latLil" id="latLil" value="{{adresse_map_2.latitude}}">
                                <input type="hidden" name="lonLil" id="lonLil" value="{{adresse_map_2.longitude}}">
                                <div id="mapidv2"  style="width:100%;z-index:10;"></div>
                            </div>
                            <div class="col-md-7">
                                <h5 class="t_promos"><b>{{adresse_map_2.station}}</b></h5>
                                <p>
                                    <img src="{{ site.theme.link }}/images/_icons/localization.svg" style="width:14px;">
                                    <span class="ccm-p">{{adresse_map_2.adresse}}</span><br>
                                    <span style="padding-left: 18px;" class="ccm-p">{{adresse_map_2.code_postal}}</span>
                                </p>
                                <p>
                                    {{adresse_map_2.texte|raw}}
                                </p>
                                {# {% set voir_lille = nos_appel_doffres.voir_loffre_lille %}
                                <a href="{% if voir_lille.url %}{{voir_lille.url}}{% else %}#{% endif %}">
                                    <button class="btn btn-secondary btn-first">
                                        Voir l'offre
                                    </button>
                                </a> #}
                            </div>
                        </div>
                    {% endif %}
                </section>
            </article>
        </div>
    </div><!-- /content-wrapper -->
    {% set comment_repondre_a_notre_appel_doffres = post.get_field('comment_repondre_a_notre_appel_doffres') %}
    {% if comment_repondre_a_notre_appel_doffres is not empty %}
        <div class="content-wrapper _bg_grey _pd_bt_50 _pd_tp_50">
            <div class="container">
                <article class="post-type-{{post.post_type}} row" id="post-{{post.ID}}">
                    <section class="_article_content col-md-12">
                        {% if comment_repondre_a_notre_appel_doffres.titre %}
                            <h2 class="text-uppercase  services-h2">
                                {{comment_repondre_a_notre_appel_doffres.titre}}
                            </h2>
                        {% endif %}
                        <div class="_article_body">
                            {{comment_repondre_a_notre_appel_doffres.description}}
                        </div>
                    </section>
                </article>
            </div>
        </div><!-- /content-wrapper -->
    {% endif %}
    {% set conditions_particulieres = post.get_field('conditions_particulieres') %}
    {% if conditions_particulieres is not empty %}
        <div class="content-wrapper _bg_white  _pd_bt_50 _pd_tp_50 pb-5">
            <div class="container">
                <article class="post-type-{{post.post_type}} _pd_bt_25" id="post-{{post.ID}}">
                    <section class="_article_content">
                        {% if conditions_particulieres.titre %}
                            <h2 class="text-uppercase  services-h2">
                                {{conditions_particulieres.titre}}
                            </h2>
                        {% endif %}
                        {% if conditions_particulieres.description %}
                            <div class="_article_body">
                                {{conditions_particulieres.description}}
                            </div>
                        {% endif %}
                    </section>
                </article>
            </div>
        </div><!-- /content-wrapper -->
    {% endif %}
</div>
{# <script type="text/javascript" src="{{ site.theme.link }}/js/montpellier.js"></script>
<script type="text/javascript" src="{{ site.theme.link }}/js/lille.js"></script> #}
<script type="text/javascript">
var latMon = 43.61500549316406;
var lonMon = 3.824946641921997;
var latLil = 50.622528076171875;
var lonLil = 3.044933319091797;
$latMon = $('#latMon').val();
$lonMon = $('#lonMon').val();
$latLil = $('#latLil').val();
$lonLil = $('#lonLil').val();
setTimeout(function(){
    if ($latMon && $latMon !== null) {
        latMon = $latMon;
    }
    if ($lonMon && $lonMon !== null) {
        lonMon = $lonMon;
    }
    if ($latLil && $latLil !== null) {
        latLil = $latLil;
    }
    if ($lonLil && $lonLil !== null) {
        lonLil = $lonLil;
    }
    window.addEventListener("load", function() {
        var greenIcon = L.icon({
            iconUrl: '{{site.theme.link}}/images/_map/localization_offre.svg',
            iconSize: [35, 90],
        });
        if ($('#mapidv1') && $('#mapidv1').length > 0) {
            var mapid = L.mapbox.map('mapidv1')
                .setView([latMon, lonMon], 20)
                .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/satellite-streets-v11'))
            // .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'))
            ;
            L.marker([latMon, lonMon], { icon: greenIcon }).bindTooltip("Esso", { permanent: false, direction: 'right' }).addTo(mapid);
        }

        if ($('#mapidv2') && $('#mapidv2').length > 0) {
            var mapidv2 = L.mapbox.map('mapidv2')
                .setView([latLil, lonLil], 20)
                .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/satellite-streets-v11'))
            // .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'))
            ;
            L.marker([latLil, lonLil], { icon: greenIcon }).bindTooltip("Esso", { permanent: false, direction: 'right' }).addTo(mapidv2);
        }
    });
}, 300);
</script>
{% endblock %}