{% extends "_base_page.twig" %}
{% block header %}
{% endblock %}
{% block content %}

<div class="wrapper {{sidebar_class}}" id="_pg_a-propos">


    <!-- Aide à la navigation -->
    <div class="content-wrapper _bg_white">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb _bredcrumb_custo">
                    <li class="breadcrumb-item"><a class="a-navig" href="{{ site.url }}">Accueil</a></li>
                    {% if post.parent.title %}
                        <li class="breadcrumb-item a-navig"><a  class="a-navig" href="{{post.parent.link}}">{{post.parent.title}}</a></li>
                    {% endif %}
                    <li class="breadcrumb-item active"><strong>{{post.title}}</strong></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Aide à la navigation -->
    {% set break = false %}
    {% for i in 1..20  if not break %}
        {% set certas = post.get_field("certas_energy_"~i) %}
        {# {% if certas is null %}
            {% set break = true %}
        {% endif %}  #}
        {% if certas and (certas.first_description or certas.first_title) %}
            <div class="container content-wrapper _bg_white pb-5 _pd_tp_40"  id="{% if i == 2 %}nos-valeurs{% endif %}">
                <div class="row">
                    <div class="col _article_body t_page">
                        {% if certas.first_title %}
                            <h2 class="">{{ certas.first_title }}</h2>
                        {% endif %}
                        {{ certas.first_description }}
                        {% set u_url = certas.url_bouton_decouvrez_notre_reseau_first %}
                        {% if certas.texte_bouton_decouvrez_notre_reseau_first %}
                            <div class="text-center _pd_tp_40">
                                <a href="{% if u_url.url %}{{u_url.url}}{% else %}#{% endif %}" class="_btn_lnk" target="{% if u_url.target %}{{u_url.target}}{% else %}_self{% endif %}">
                                    <button class="btn btn-secondary btn-first">
                                        {{ certas.texte_bouton_decouvrez_notre_reseau_first }}
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 col-lg-12 _article_body t_mobile _pd_tp_40">
                        {% if certas.first_title %}
                            <h2 class="">{{ certas.first_title }}</h2>
                        {% endif %}
                        {{ certas.first_description }}
                        {% set u_url = certas.url_bouton_decouvrez_notre_reseau_first %}
                        {% if certas.texte_bouton_decouvrez_notre_reseau_first %}
                            <div class="text-center _pd_tp_40">
                                <a href="{% if u_url.url %}{{u_url.url}}{% else %}#{% endif %}" class="_btn_lnk" target="{% if u_url.target %}{{u_url.target}}{% else %}_self{% endif %}">
                                    <button class="btn btn-secondary btn-first">
                                        {{ certas.texte_bouton_decouvrez_notre_reseau_first }}
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    {% if  certas.first_image %}
                        <div class="col text-center _apropos_video t_page">
                            <div class="site-header {% if i == 2 %}a_valeur{% endif %}">
                                {{certas.first_image}}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 text-center _apropos_video t_mobile">
                            <div class="site-header m_video {% if i == 2 %}a_valeur{% endif %}">
                                {{certas.first_image}}
                            </div>
                        </div>
                    {% endif %}
                </div> 
            </div><!-- /content-wrapper -->
        {% endif %}
        {% if certas and (certas.second_description or certas.second_title) %}
            <div class="content-wrapper _bg_grey pt-3 pb-3">
                <div class="container">
                    <article class="post-type-{{post.post_type}} _pd_bt_25" id="post-{{post.ID}}">
                        <div class="row second-top col-md-12">
                            {% if certas.second_image %}
                                <div class="col text-center _apropos_second t_page">
                                    <div class="site-header">
                                        {{certas.second_image}}
                                        {# <img src="{{img.url}}" class="img-responsive" style="width:100%" /> #}
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 text-center _apropos_second t_mobile">
                                    <div class="site-header m_video">
                                        {{certas.second_image}}
                                        {# <img src="{{img.url}}" class="img-responsive" style="width:100%" /> #}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col _article_body {# p-a-propos #} t_page">
                                {% if certas.second_title %}
                                    <h2 class="_pd_tp_50">{{ certas.second_title }}</h2>
                                {% endif %}
                                {{ certas.second_description }}
                                {# {% set s_url = certas.url_bouton_decouvrez_notre_reseau_second %}
                                {% if certas.texte_bouton_decouvrez_notre_reseau_second %}
                                    <div class="text-center _pd_tp_40">
                                        <a href="{% if s_url.url %}{{s_url.url}}{% else %}#{% endif %}" class="_btn_lnk" target="{% if s_url.target %}{{s_url.target}}{% else %}_self{% endif %}">
                                            <button class="btn btn-secondary btn-first">
                                                    {{ certas.texte_bouton_decouvrez_notre_reseau_second }}
                                            </button>
                                        </a>
                                    </div>
                                {% endif %} #}
                            </div>
                            <div class="col-md-12 col-lg-12 _article_body {# p-a-propos #} t_mobile">
                                {% if certas.second_title %}
                                    <h2 class="_pd_tp_50">{{ certas.second_title }}</h2>
                                {% endif %}
                                {{ certas.second_description }}
                                {# {% set sm_url = certas.url_bouton_decouvrez_notre_reseau_second %}
                                {% if certas.texte_bouton_decouvrez_notre_reseau_second %}
                                    <div class="text-center _pd_tp_40">
                                        <a href="{% if sm_url.url %}{{sm_url.url}}{% else %}#{% endif %}" class="_btn_lnk" target="{% if sm_url.target %}{{sm_url.target}}{% else %}_self{% endif %}">
                                            <button class="btn btn-secondary btn-first">
                                                {{ certas.texte_bouton_decouvrez_notre_reseau_second }}
                                            </button>
                                        </a>
                                    </div>
                                {% endif %} #}
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        {% endif %}        
    {% endfor %}
</div>
{% endblock %}